<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Klevu\Registry\Api\CategoryRegistryInterface" type="Klevu\Registry\Registry\CategoryRegistry"/>
    <preference for="Klevu\Registry\Api\ProductRegistryInterface" type="Klevu\Registry\Registry\ProductRegistry"/>
</config>
